@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.main-footer {
  margin-top: 50px;
  border-top: 1px solid $opacityLineColor;
  padding: 40px 100px;
  background-color: #002a44de;

  @include flex-column;

  .cover {
    width: 100%;
    max-width: $maxWidth;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      width: 100%;
      @include flex-column;
      gap: 15px;
  
      h3 {
        color: #fff;
        font-size: 2em;
        text-transform: uppercase;
      }

      .description {
        font-size: 1.1em;
        color: #fff;

        .line {
          color: #fff;
        }
      }
  
      ul {
        display: flex;
        gap: 20px;

        li {
          list-style-type: none;

          span {
            color: #fff;
            display: inline; 
            border-bottom: 1.5px solid #fff;
          }

          a {
            @include flex;
            gap: 10px;
            padding-right: 5px;
            border-radius: 3px;

            img {
              height: auto;
              max-width: 40px;
            }
  
            span {
              transition: 0.4s;

              &:hover {
                color: $appColor;
              }
            }
          }
        }
      }
    }
  }

  .map {
    margin-top: 15px;
    width: 100%;
  }
}


@media (max-width: 1050px) {
  .main-footer {
    .cover {
      justify-content: center;

      .info {
        h3, .description {
          text-align: center;
        }

        ul {
          @include flex-column;
          align-items: center;

          li {
            span {
              color: #fff;
            }

            a {
              gap: 7px;

              img {
                max-width: 30px;
              }
            }
          }
        }
      }
    }
  }
  
  .map {
    display: none;
  }
}

@media (max-width: 640px) {
  .main-footer {
    padding: 40px 10px;
    
    .cover {
      .info {
        h3 {
          font-size: 1.5em;
        }

        ul {
          li {
            a {
              text-align: center;
              
              span {
                color: $appColor;
              }

              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}